In [1]:
# Importing Libraries 
import pandas as pd
import numpy as np
import math
from pyomo.environ import *

ModuleNotFoundError: No module named 'pyomo'

In [3]:
# Importing pyomo Libraries
from __future__ import division
from pyomo.opt import SolverFactory

ModuleNotFoundError: No module named 'pyomo'

In [3]:
# Reading the data from Excel workbook
MgDemandDist=pd.read_excel("Staffing+Data.xlsx", sheet_name='DemandData')
StaffAv=pd.read_excel("Staffing+Data.xlsx",sheet_name='StaffAvailability')
Cost=pd.read_excel("Staffing+Data.xlsx",sheet_name='Cost')
transCost=pd.read_excel("Staffing+Data.xlsx",sheet_name='ServiceRate')

In [4]:
#To display Demand data set
MgDemandDist.head()

  State Month  Demand
0     A   Jan    5240
1     A   Feb    4878
2     A   Mar    5942
3     A   Apr    2297
4     A   May    1992

In [12]:
#To display Staff average data set
StaffAv.head()

  State Month    LB    UB  StaffAvPer
0     A   Jan  0.70  0.90        0.81
1     A   Feb  0.65  0.85        0.76
2     A   Mar  0.70  0.80        0.75
3     A   Apr  0.75  0.85        0.80
4     A   May  0.70  0.85        0.78

In [13]:
#To display Cost data set
Cost.head()

  State Month  AnnualSalary  MonthlySalary  UnitOutSourceCost
0     A   Jan         60000         5000.0                180
1     A   Feb         60000         5000.0                180
2     A   Mar         60000         5000.0                180
3     A   Apr         60000         5000.0                180
4     A   May         60000         5000.0                180

In [14]:
#To display Service rate of application
transCost.head()

   MgAppServedPerMonth
0                   40

## Data pre-processing

In [15]:
# Create the required Python data structures for indexes and parameters

In [16]:
# Creating Index for States/Bank Locations
BankLoc=Cost['State'].unique()

#Creating Index for  Months
Month=Cost['Month'].unique()

In [17]:
#Defining parameter for Demand
Demand=MgDemandDist.set_index(['State','Month'])['Demand'].to_dict()

#Defining prameter for FTE Salary
FTE_Salary=Cost.set_index(['State','Month'])['MonthlySalary'].to_dict()

#Defining parameter for Unit outsource cost
UnitOutSourceCost=Cost.set_index(['State','Month'])['UnitOutSourceCost'].to_dict()

# Number of Application served with  100% availability
FTE_AppServeRate=transCost.iloc[0,0]

#Defining parameter for Minimum Staff availability
StaffAv_LB=StaffAv.set_index(['State','Month'])['LB'].to_dict()

#Defining parameter for Maximum Staff availability
StaffAv_UB=StaffAv.set_index(['State','Month'])['UB'].to_dict()

#Defining parameter for Average Staff availability
StaffAvPer=StaffAv.set_index(['State','Month'])['StaffAvPer'].to_dict()

# Question 1

The company wants to know the optimised staffing recommendations for the business case described. 
Write the mathematical model for the deterministic optimisation problem. Define and explain your decision variables, objective function and the constraint. (Hint: Use months of the year as the model timeline).

In [18]:
#Staffing Recommendations: Answered with Mathematical Expression have been mentioned in report.

**Note:** You can write the mathematical formulation directly in your report.

# Question 2

Code the problem is Python and use any optimization package to solve it. Add comments to your code to explain each step.

#### Expected output:

Create a data frame containing the number of outsourced applications  and the number of FTEs for each state-month combination. You can choose to have extra columns like staff availability, demand etc. in your dataframe apart from the ones mentioned earlier.

In [19]:
# Creating a model instance
model=ConcreteModel()

NameError: name 'ConcreteModel' is not defined

In [557]:
# Define Pyomo sets and Parameters

#Defining Set for State and Months
model.i=Set(initialize=BankLoc.tolist(),doc="State")
model.j=Set(initialize=Month.tolist(),doc="Months")

#Defining parameter for Demand
Demand=MgDemandDist.set_index(['State','Month'])['Demand'].to_dict()

#Defining prameter for FTE Salary
FTE_Salary=Cost.set_index(['State','Month'])['MonthlySalary'].to_dict()

#Defining parameter for Unit outsource cost
UnitOutSourceCost=Cost.set_index(['State','Month'])['UnitOutSourceCost'].to_dict()

# Number of Application served with  100% availability
FTE_AppServeRate=transCost.iloc[0,0]

#Defining parameter for Minimum Staff availability
StaffAv_LB=StaffAv.set_index(['State','Month'])['LB'].to_dict()

#Defining parameter for Maximum Staff availability
StaffAv_UB=StaffAv.set_index(['State','Month'])['UB'].to_dict()

#Defining parameter for Average Staff availability
StaffAvPer=StaffAv.set_index(['State','Month'])['StaffAvPer'].to_dict()

model.d=Param(model.i,model.j,initialize=Demand,doc='Demand')
model.s=Param(model.i,model.j,initialize=FTE_Salary,doc='FTE_Salary')
model.oc=Param(model.i,model.j,initialize=UnitOutSourceCost,doc='UnitOutSourceCost')
model.sa=Param(model.i,model.j,initialize=StaffAvPer,doc='StaffAvPer')

#Scalar Application Service rate when 100% working
model.r=Param(initialize=FTE_AppServeRate,doc='FTE_AppServeRate')

#Paramter for no of application that can be processed for given staff availability
def c_FTEAPP(model,i,j):
  return model.r* model.sa[i,j]

model.FTEAPPNO=Param(model.i,model.j,initialize=c_FTEAPP,doc='No of FTE APP')

# Prameter for Regulatory restriction for STate A
def Reg_A(model,i,j):
  return 0.30*model.d[i,j]

model.Reg_A=Param(model.i,model.j,initialize=Reg_A,doc='RegRest_A')

# Prameter for Regulatory restriction for STate B
def Reg_B(model,i,j):
  return 0.40*model.d[i,j]

model.Reg_B=Param(model.i,model.j,initialize=Reg_B,doc='RegRest_B')

In [558]:
# Decision variables

model.x= Var(model.i,model.j,domain=NonNegativeReals,doc='No of FTE')
model.y= Var(model.i,model.j,domain=NonNegativeIntegers,doc='No of Outsorced Apps')

In [559]:
# Constraints

# Demand Constraint
model.demand_constraint=ConstraintList()
for i in model.i:
  for j in model.j:
    model.demand_constraint.add(expr=model.x[i,j]*model.FTEAPPNO[i,j] + model.y[i,j]==model.d[i,j])


#Regulatory constraint
model.regulatory_constraint=ConstraintList()
for i in model.i:
  for j in model.j:
    if i =='A':
      model.regulatory_constraint.add(expr= model.y['A',j] <=model.Reg_A['A',j])
    elif i=='B':
      model.regulatory_constraint.add(expr= model.y['B',j] <=model.Reg_B['B',j])

In [560]:
# Objective function

# To Mininmize cost
def objective_rule(model):
  return sum(model.x[i,j]*model.s[i,j] for i in model.i for j in model.j) + sum(model.y[i,j]*model.oc[i,j] for i in  model.i for j in model.j)

model.objective=Objective(rule=objective_rule, sense=minimize,doc='Define Objective Function')

In [561]:
# Invoking the solver

result_cost=SolverFactory('glpk').solve(model)
result_cost.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 17962336.4487699
  Upper bound: 17962336.4487699
  Number of objectives: 1
  Number of constraints: 61
  Number of variables: 73
  Number of nonzeros: 97
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.013334035873413086
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [562]:
# Print the value of the objective function

TotalCost=model.objective.expr()
TotalCost

17962336.448769882

**`Checkpoint 1:`** Seems like the company has to spend around 17.9 m$ in total for the application approval process.

In [563]:
#Total no of Outsorced applications
s=0
for i in model.i:
  for j in model.j:
    s=s+model.y[i,j].value
print(s)

20749.0

In [564]:
#Percentage of Outsorced applications
TotalApplDemand=MgDemandDist['Demand'].sum()
PercentageOutSourced=(s/TotalApplDemand)*100
print(PercentageOutSourced)

18.314297314950483

In [565]:
# To display the Model fileds and Result
model.pprint()

13 Set Declarations
    FTEAPPNO_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    Reg_A_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    Reg_B_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    d_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    demand_constraint_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   36 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36}
    i : State
        Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    3 : {'A', 'B', 'C'}
    j : Months
        Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   12 : {'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'}
    oc_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    regulatory_constraint_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   24 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24}
    s_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    sa_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    x_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}
    y_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain : Size : Members
        None :     2 :    i*j :   36 : {('A', 'Jan'), ('A', 'Feb'), ('A', 'Mar'), ('A', 'Apr'), ('A', 'May'), ('A', 'Jun'), ('A', 'Jul'), ('A', 'Aug'), ('A', 'Sep'), ('A', 'Oct'), ('A', 'Nov'), ('A', 'Dec'), ('B', 'Jan'), ('B', 'Feb'), ('B', 'Mar'), ('B', 'Apr'), ('B', 'May'), ('B', 'Jun'), ('B', 'Jul'), ('B', 'Aug'), ('B', 'Sep'), ('B', 'Oct'), ('B', 'Nov'), ('B', 'Dec'), ('C', 'Jan'), ('C', 'Feb'), ('C', 'Mar'), ('C', 'Apr'), ('C', 'May'), ('C', 'Jun'), ('C', 'Jul'), ('C', 'Aug'), ('C', 'Sep'), ('C', 'Oct'), ('C', 'Nov'), ('C', 'Dec')}

8 Param Declarations
    FTEAPPNO : No of FTE APP
        Size=36, Index=FTEAPPNO_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :               32.0
        ('A', 'Aug') :               30.4
        ('A', 'Dec') :               26.0
        ('A', 'Feb') :               30.4
        ('A', 'Jan') : 32.400000000000006
        ('A', 'Jul') : 27.200000000000003
        ('A', 'Jun') :               29.2
        ('A', 'Mar') :               30.0
        ('A', 'May') : 31.200000000000003
        ('A', 'Nov') : 27.200000000000003
        ('A', 'Oct') :               29.2
        ('A', 'Sep') : 32.400000000000006
        ('B', 'Apr') :               32.0
        ('B', 'Aug') :               30.4
        ('B', 'Dec') :               26.0
        ('B', 'Feb') :               30.4
        ('B', 'Jan') : 32.400000000000006
        ('B', 'Jul') : 27.200000000000003
        ('B', 'Jun') :               29.2
        ('B', 'Mar') :               30.0
        ('B', 'May') : 31.200000000000003
        ('B', 'Nov') : 27.200000000000003
        ('B', 'Oct') :               29.2
        ('B', 'Sep') : 32.400000000000006
        ('C', 'Apr') :               32.0
        ('C', 'Aug') :               30.4
        ('C', 'Dec') :               26.0
        ('C', 'Feb') :               30.4
        ('C', 'Jan') : 32.400000000000006
        ('C', 'Jul') : 27.200000000000003
        ('C', 'Jun') :               29.2
        ('C', 'Mar') :               30.0
        ('C', 'May') : 31.200000000000003
        ('C', 'Nov') : 27.200000000000003
        ('C', 'Oct') :               29.2
        ('C', 'Sep') : 32.400000000000006
    Reg_A : RegRest_A
        Size=36, Index=Reg_A_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :              689.1
        ('A', 'Aug') :             1011.3
        ('A', 'Dec') : 1554.8999999999999
        ('A', 'Feb') : 1463.3999999999999
        ('A', 'Jan') :             1572.0
        ('A', 'Jul') :             1600.2
        ('A', 'Jun') :              682.5
        ('A', 'Mar') :             1782.6
        ('A', 'May') :              597.6
        ('A', 'Nov') :             1285.2
        ('A', 'Oct') :             1058.7
        ('A', 'Sep') :             1127.7
        ('B', 'Apr') :              701.4
        ('B', 'Aug') :              786.0
        ('B', 'Dec') :             1268.1
        ('B', 'Feb') :              788.4
        ('B', 'Jan') :             1478.1
        ('B', 'Jul') :             1281.3
        ('B', 'Jun') :  944.0999999999999
        ('B', 'Mar') :  892.1999999999999
        ('B', 'May') :             1206.0
        ('B', 'Nov') :  941.0999999999999
        ('B', 'Oct') :             1246.5
        ('B', 'Sep') :             1355.1
        ('C', 'Apr') :              678.3
        ('C', 'Aug') :              748.8
        ('C', 'Dec') :              599.4
        ('C', 'Feb') :              590.1
        ('C', 'Jan') : 348.59999999999997
        ('C', 'Jul') :  746.6999999999999
        ('C', 'Jun') : 492.59999999999997
        ('C', 'Mar') :              569.4
        ('C', 'May') :              609.0
        ('C', 'Nov') :              288.9
        ('C', 'Oct') :              726.3
        ('C', 'Sep') : 276.59999999999997
    Reg_B : RegRest_B
        Size=36, Index=Reg_B_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :  918.8000000000001
        ('A', 'Aug') :             1348.4
        ('A', 'Dec') : 2073.2000000000003
        ('A', 'Feb') :             1951.2
        ('A', 'Jan') :             2096.0
        ('A', 'Jul') :             2133.6
        ('A', 'Jun') :              910.0
        ('A', 'Mar') :             2376.8
        ('A', 'May') :  796.8000000000001
        ('A', 'Nov') : 1713.6000000000001
        ('A', 'Oct') : 1411.6000000000001
        ('A', 'Sep') : 1503.6000000000001
        ('B', 'Apr') :              935.2
        ('B', 'Aug') :             1048.0
        ('B', 'Dec') : 1690.8000000000002
        ('B', 'Feb') :             1051.2
        ('B', 'Jan') : 1970.8000000000002
        ('B', 'Jul') :             1708.4
        ('B', 'Jun') : 1258.8000000000002
        ('B', 'Mar') : 1189.6000000000001
        ('B', 'May') :             1608.0
        ('B', 'Nov') : 1254.8000000000002
        ('B', 'Oct') :             1662.0
        ('B', 'Sep') : 1806.8000000000002
        ('C', 'Apr') :  904.4000000000001
        ('C', 'Aug') :  998.4000000000001
        ('C', 'Dec') :              799.2
        ('C', 'Feb') :  786.8000000000001
        ('C', 'Jan') :              464.8
        ('C', 'Jul') :              995.6
        ('C', 'Jun') :  656.8000000000001
        ('C', 'Mar') :              759.2
        ('C', 'May') :              812.0
        ('C', 'Nov') : 385.20000000000005
        ('C', 'Oct') :  968.4000000000001
        ('C', 'Sep') :              368.8
    d : Demand
        Size=36, Index=d_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :  2297
        ('A', 'Aug') :  3371
        ('A', 'Dec') :  5183
        ('A', 'Feb') :  4878
        ('A', 'Jan') :  5240
        ('A', 'Jul') :  5334
        ('A', 'Jun') :  2275
        ('A', 'Mar') :  5942
        ('A', 'May') :  1992
        ('A', 'Nov') :  4284
        ('A', 'Oct') :  3529
        ('A', 'Sep') :  3759
        ('B', 'Apr') :  2338
        ('B', 'Aug') :  2620
        ('B', 'Dec') :  4227
        ('B', 'Feb') :  2628
        ('B', 'Jan') :  4927
        ('B', 'Jul') :  4271
        ('B', 'Jun') :  3147
        ('B', 'Mar') :  2974
        ('B', 'May') :  4020
        ('B', 'Nov') :  3137
        ('B', 'Oct') :  4155
        ('B', 'Sep') :  4517
        ('C', 'Apr') :  2261
        ('C', 'Aug') :  2496
        ('C', 'Dec') :  1998
        ('C', 'Feb') :  1967
        ('C', 'Jan') :  1162
        ('C', 'Jul') :  2489
        ('C', 'Jun') :  1642
        ('C', 'Mar') :  1898
        ('C', 'May') :  2030
        ('C', 'Nov') :   963
        ('C', 'Oct') :  2421
        ('C', 'Sep') :   922
    oc : UnitOutSourceCost
        Size=36, Index=oc_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :   180
        ('A', 'Aug') :   180
        ('A', 'Dec') :   180
        ('A', 'Feb') :   180
        ('A', 'Jan') :   180
        ('A', 'Jul') :   180
        ('A', 'Jun') :   180
        ('A', 'Mar') :   180
        ('A', 'May') :   180
        ('A', 'Nov') :   180
        ('A', 'Oct') :   180
        ('A', 'Sep') :   180
        ('B', 'Apr') :   150
        ('B', 'Aug') :   150
        ('B', 'Dec') :   150
        ('B', 'Feb') :   150
        ('B', 'Jan') :   150
        ('B', 'Jul') :   150
        ('B', 'Jun') :   150
        ('B', 'Mar') :   150
        ('B', 'May') :   150
        ('B', 'Nov') :   150
        ('B', 'Oct') :   150
        ('B', 'Sep') :   150
        ('C', 'Apr') :   160
        ('C', 'Aug') :   160
        ('C', 'Dec') :   160
        ('C', 'Feb') :   160
        ('C', 'Jan') :   160
        ('C', 'Jul') :   160
        ('C', 'Jun') :   160
        ('C', 'Mar') :   160
        ('C', 'May') :   160
        ('C', 'Nov') :   160
        ('C', 'Oct') :   160
        ('C', 'Sep') :   160
    r : FTE_AppServeRate
        Size=1, Index=None, Domain=Any, Default=None, Mutable=False
        Key  : Value
        None :    40
    s : FTE_Salary
        Size=36, Index=s_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :            5000.0
        ('A', 'Aug') :            5000.0
        ('A', 'Dec') :            5000.0
        ('A', 'Feb') :            5000.0
        ('A', 'Jan') :            5000.0
        ('A', 'Jul') :            5000.0
        ('A', 'Jun') :            5000.0
        ('A', 'Mar') :            5000.0
        ('A', 'May') :            5000.0
        ('A', 'Nov') :            5000.0
        ('A', 'Oct') :            5000.0
        ('A', 'Sep') :            5000.0
        ('B', 'Apr') : 4583.333333333333
        ('B', 'Aug') : 4583.333333333333
        ('B', 'Dec') : 4583.333333333333
        ('B', 'Feb') : 4583.333333333333
        ('B', 'Jan') : 4583.333333333333
        ('B', 'Jul') : 4583.333333333333
        ('B', 'Jun') : 4583.333333333333
        ('B', 'Mar') : 4583.333333333333
        ('B', 'May') : 4583.333333333333
        ('B', 'Nov') : 4583.333333333333
        ('B', 'Oct') : 4583.333333333333
        ('B', 'Sep') : 4583.333333333333
        ('C', 'Apr') : 4416.666666666667
        ('C', 'Aug') : 4416.666666666667
        ('C', 'Dec') : 4416.666666666667
        ('C', 'Feb') : 4416.666666666667
        ('C', 'Jan') : 4416.666666666667
        ('C', 'Jul') : 4416.666666666667
        ('C', 'Jun') : 4416.666666666667
        ('C', 'Mar') : 4416.666666666667
        ('C', 'May') : 4416.666666666667
        ('C', 'Nov') : 4416.666666666667
        ('C', 'Oct') : 4416.666666666667
        ('C', 'Sep') : 4416.666666666667
    sa : StaffAvPer
        Size=36, Index=sa_index, Domain=Any, Default=None, Mutable=False
        Key          : Value
        ('A', 'Apr') :   0.8
        ('A', 'Aug') :  0.76
        ('A', 'Dec') :  0.65
        ('A', 'Feb') :  0.76
        ('A', 'Jan') :  0.81
        ('A', 'Jul') :  0.68
        ('A', 'Jun') :  0.73
        ('A', 'Mar') :  0.75
        ('A', 'May') :  0.78
        ('A', 'Nov') :  0.68
        ('A', 'Oct') :  0.73
        ('A', 'Sep') :  0.81
        ('B', 'Apr') :   0.8
        ('B', 'Aug') :  0.76
        ('B', 'Dec') :  0.65
        ('B', 'Feb') :  0.76
        ('B', 'Jan') :  0.81
        ('B', 'Jul') :  0.68
        ('B', 'Jun') :  0.73
        ('B', 'Mar') :  0.75
        ('B', 'May') :  0.78
        ('B', 'Nov') :  0.68
        ('B', 'Oct') :  0.73
        ('B', 'Sep') :  0.81
        ('C', 'Apr') :   0.8
        ('C', 'Aug') :  0.76
        ('C', 'Dec') :  0.65
        ('C', 'Feb') :  0.76
        ('C', 'Jan') :  0.81
        ('C', 'Jul') :  0.68
        ('C', 'Jun') :  0.73
        ('C', 'Mar') :  0.75
        ('C', 'May') :  0.78
        ('C', 'Nov') :  0.68
        ('C', 'Oct') :  0.73
        ('C', 'Sep') :  0.81

2 Var Declarations
    x : No of FTE
        Size=36, Index=x_index
        Key          : Lower : Value            : Upper : Fixed : Stale : Domain
        ('A', 'Apr') :     0 :         71.78125 :  None : False : False : NonNegativeReals
        ('A', 'Aug') :     0 : 110.888157894737 :  None : False : False : NonNegativeReals
        ('A', 'Dec') :     0 : 139.576923076923 :  None : False : False : NonNegativeReals
        ('A', 'Feb') :     0 : 160.460526315789 :  None : False : False : NonNegativeReals
        ('A', 'Jan') :     0 : 161.728395061728 :  None : False : False : NonNegativeReals
        ('A', 'Jul') :     0 : 137.279411764706 :  None : False : False : NonNegativeReals
        ('A', 'Jun') :     0 : 77.9109589041096 :  None : False : False : NonNegativeReals
        ('A', 'Mar') :     0 : 198.066666666667 :  None : False : False : NonNegativeReals
        ('A', 'May') :     0 : 63.8461538461538 :  None : False : False : NonNegativeReals
        ('A', 'Nov') :     0 : 110.257352941176 :  None : False : False : NonNegativeReals
        ('A', 'Oct') :     0 : 120.856164383562 :  None : False : False : NonNegativeReals
        ('A', 'Sep') :     0 : 116.018518518519 :  None : False : False : NonNegativeReals
        ('B', 'Apr') :     0 :          73.0625 :  None : False : False : NonNegativeReals
        ('B', 'Aug') :     0 : 51.7105263157895 :  None : False : False : NonNegativeReals
        ('B', 'Dec') :     0 : 97.5769230769231 :  None : False : False : NonNegativeReals
        ('B', 'Feb') :     0 :           51.875 :  None : False : False : NonNegativeReals
        ('B', 'Jan') :     0 : 152.067901234568 :  None : False : False : NonNegativeReals
        ('B', 'Jul') :     0 : 94.2279411764706 :  None : False : False : NonNegativeReals
        ('B', 'Jun') :     0 : 64.6917808219178 :  None : False : False : NonNegativeReals
        ('B', 'Mar') :     0 :             59.5 :  None : False : False : NonNegativeReals
        ('B', 'May') :     0 : 128.846153846154 :  None : False : False : NonNegativeReals
        ('B', 'Nov') :     0 : 69.2279411764706 :  None : False : False : NonNegativeReals
        ('B', 'Oct') :     0 : 85.3767123287671 :  None : False : False : NonNegativeReals
        ('B', 'Sep') :     0 : 139.413580246914 :  None : False : False : NonNegativeReals
        ('C', 'Apr') :     0 :         70.65625 :  None : False : False : NonNegativeReals
        ('C', 'Aug') :     0 : 82.1052631578947 :  None : False : False : NonNegativeReals
        ('C', 'Dec') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Feb') :     0 : 64.7039473684211 :  None : False : False : NonNegativeReals
        ('C', 'Jan') :     0 : 35.8641975308642 :  None : False : False : NonNegativeReals
        ('C', 'Jul') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Jun') :     0 : 56.2328767123288 :  None : False : False : NonNegativeReals
        ('C', 'Mar') :     0 : 63.2666666666667 :  None : False : False : NonNegativeReals

In [566]:
#To display Model values along with Constraints and Objective Function
model.display()

Model unknown

  Variables:
    x : No of FTE
        Size=36, Index=x_index
        Key          : Lower : Value            : Upper : Fixed : Stale : Domain
        ('A', 'Apr') :     0 :         71.78125 :  None : False : False : NonNegativeReals
        ('A', 'Aug') :     0 : 110.888157894737 :  None : False : False : NonNegativeReals
        ('A', 'Dec') :     0 : 139.576923076923 :  None : False : False : NonNegativeReals
        ('A', 'Feb') :     0 : 160.460526315789 :  None : False : False : NonNegativeReals
        ('A', 'Jan') :     0 : 161.728395061728 :  None : False : False : NonNegativeReals
        ('A', 'Jul') :     0 : 137.279411764706 :  None : False : False : NonNegativeReals
        ('A', 'Jun') :     0 : 77.9109589041096 :  None : False : False : NonNegativeReals
        ('A', 'Mar') :     0 : 198.066666666667 :  None : False : False : NonNegativeReals
        ('A', 'May') :     0 : 63.8461538461538 :  None : False : False : NonNegativeReals
        ('A', 'Nov') :     0 : 110.257352941176 :  None : False : False : NonNegativeReals
        ('A', 'Oct') :     0 : 120.856164383562 :  None : False : False : NonNegativeReals
        ('A', 'Sep') :     0 : 116.018518518519 :  None : False : False : NonNegativeReals
        ('B', 'Apr') :     0 :          73.0625 :  None : False : False : NonNegativeReals
        ('B', 'Aug') :     0 : 51.7105263157895 :  None : False : False : NonNegativeReals
        ('B', 'Dec') :     0 : 97.5769230769231 :  None : False : False : NonNegativeReals
        ('B', 'Feb') :     0 :           51.875 :  None : False : False : NonNegativeReals
        ('B', 'Jan') :     0 : 152.067901234568 :  None : False : False : NonNegativeReals
        ('B', 'Jul') :     0 : 94.2279411764706 :  None : False : False : NonNegativeReals
        ('B', 'Jun') :     0 : 64.6917808219178 :  None : False : False : NonNegativeReals
        ('B', 'Mar') :     0 :             59.5 :  None : False : False : NonNegativeReals
        ('B', 'May') :     0 : 128.846153846154 :  None : False : False : NonNegativeReals
        ('B', 'Nov') :     0 : 69.2279411764706 :  None : False : False : NonNegativeReals
        ('B', 'Oct') :     0 : 85.3767123287671 :  None : False : False : NonNegativeReals
        ('B', 'Sep') :     0 : 139.413580246914 :  None : False : False : NonNegativeReals
        ('C', 'Apr') :     0 :         70.65625 :  None : False : False : NonNegativeReals
        ('C', 'Aug') :     0 : 82.1052631578947 :  None : False : False : NonNegativeReals
        ('C', 'Dec') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Feb') :     0 : 64.7039473684211 :  None : False : False : NonNegativeReals
        ('C', 'Jan') :     0 : 35.8641975308642 :  None : False : False : NonNegativeReals
        ('C', 'Jul') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Jun') :     0 : 56.2328767123288 :  None : False : False : NonNegativeReals
        ('C', 'Mar') :     0 : 63.2666666666667 :  None : False : False : NonNegativeReals
        ('C', 'May') :     0 : 65.0641025641026 :  None : False : False : NonNegativeReals
        ('C', 'Nov') :     0 :              0.0 :  None : False : False : NonNegativeReals
        ('C', 'Oct') :     0 : 82.9109589041096 :  None : False : False : NonNegativeReals
        ('C', 'Sep') :     0 : 28.4567901234568 :  None : False : False : NonNegativeReals
    y : No of Outsorced Apps
        Size=36, Index=y_index
        Key          : Lower : Value  : Upper : Fixed : Stale : Domain
        ('A', 'Apr') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Aug') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Dec') :     0 : 1554.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Feb') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Jan') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Jul') :     0 : 1600.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Jun') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Mar') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'May') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Nov') :     0 : 1285.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Oct') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('A', 'Sep') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Apr') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Aug') :     0 : 1048.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Dec') :     0 : 1690.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Feb') :     0 : 1051.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Jan') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Jul') :     0 : 1708.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Jun') :     0 : 1258.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Mar') :     0 : 1189.0 :  None : False : False : NonNegativeIntegers
        ('B', 'May') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Nov') :     0 : 1254.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Oct') :     0 : 1662.0 :  None : False : False : NonNegativeIntegers
        ('B', 'Sep') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Apr') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Aug') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Dec') :     0 : 1998.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Feb') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Jan') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Jul') :     0 : 2489.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Jun') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Mar') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'May') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Nov') :     0 :  963.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Oct') :     0 :    0.0 :  None : False : False : NonNegativeIntegers
        ('C', 'Sep') :     0 :    0.0 :  None : False : False : NonNegativeIntegers

  Objectives:
    objective : Size=1, Index=None, Active=True
        Key  : Active : Value
        None :   True : 17962336.448769882

  Constraints:
    demand_constraint : Size=36
        Key : Lower  : Body               : Upper
          1 : 5240.0 :  5239.999999999988 : 5240.0
          2 : 4878.0 :  4877.999999999985 : 4878.0
          3 : 5942.0 :   5942.00000000001 : 5942.0
          4 : 2297.0 :             2297.0 : 2297.0
          5 : 1992.0 : 1991.9999999999986 : 1992.0
          6 : 2275.0 : 2275.0000000000005 : 2275.0
          7 : 5334.0 :  5334.000000000004 : 5334.0
          8 : 3371.0 :  3371.000000000005 : 3371.0
          9 : 3759.0 : 3759.0000000000164 : 3759.0
         10 : 3529.0 : 3529.0000000000105 : 3529.0
         11 : 4284.0 :  4283.999999999987 : 4284.0
         12 : 5183.0 :  5182.999999999998 : 5183.0
         13 : 4927.0 :  4927.000000000005 : 4927.0
         14 : 2628.0 :             2628.0 : 2628.0
         15 : 2974.0 :             2974.0 : 2974.0
         16 : 2338.0 :             2338.0 : 2338.0
         17 : 4020.0 : 4020.0000000000055 : 4020.0
         18 : 3147.0 :             3147.0 : 3147.0
         19 : 4271.0 :             4271.0 : 4271.0
         20 : 2620.0 :  2620.000000000001 : 2620.0
         21 : 4517.0 :  4517.000000000015 : 4517.0
         22 : 4155.0 :  4154.999999999999 : 4155.0
         23 : 3137.0 : 3137.0000000000005 : 3137.0
         24 : 4227.0 :             4227.0 : 4227.0
         25 : 1162.0 : 1162.0000000000005 : 1162.0
         26 : 1967.0 : 1967.0000000000014 : 1967.0
         27 : 1898.0 : 1898.0000000000011 : 1898.0
         28 : 2261.0 :             2261.0 : 2261.0
         29 : 2030.0 : 2030.0000000000011 : 2030.0
         30 : 1642.0 :  1642.000000000001 : 1642.0
         31 : 2489.0 :             2489.0 : 2489.0
         32 : 2496.0 : 2495.9999999999986 : 2496.0
         33 :  922.0 :  922.0000000000005 :  922.0
         34 : 2421.0 : 2421.0000000000005 : 2421.0
         35 :  963.0 :              963.0 :  963.0
         36 : 1998.0 :             1998.0 : 1998.0
    regulatory_constraint : Size=24
        Key : Lower : Body   : Upper
          1 :  None :    0.0 :             1572.0
          2 :  None :    0.0 : 1463.3999999999999
          3 :  None :    0.0 :             1782.6
          4 :  None :    0.0 :              689.1
          5 :  None :    0.0 :              597.6
          6 :  None :    0.0 :              682.5
          7 :  None : 1600.0 :             1600.2
          8 :  None :    0.0 :             1011.3
          9 :  None :    0.0 :             1127.7
         10 :  None :    0.0 :             1058.7
         11 :  None : 1285.0 :             1285.2
         12 :  None : 1554.0 : 1554.8999999999999
         13 :  None :    0.0 : 1970.8000000000002
         14 :  None : 1051.0 :             1051.2
         15 :  None : 1189.0 : 1189.6000000000001
         16 :  None :    0.0 :              935.2
         17 :  None :    0.0 :             1608.0
         18 :  None : 1258.0 : 1258.8000000000002
         19 :  None : 1708.0 :             1708.4
         20 :  None : 1048.0 :             1048.0
         21 :  None :    0.0 : 1806.8000000000002
         22 :  None : 1662.0 :             1662.0
         23 :  None : 1254.0 : 1254.8000000000002
         24 :  None : 1690.0 : 1690.8000000000002

In [567]:
#Calculating the Result in Column format
output=[]

for i in model.i:
  for j in model.j:
    No_Of_FTE=model.x[i,j].value
    No_of_OutsorcedApps=model.y[i,j].value
    Demand=model.d[i,j]
    StaffAvPer=model.sa[i,j]
    output.append([i,j,Demand,StaffAvPer,No_Of_FTE,No_of_OutsorcedApps,Demand])

print(output)

[['A', 'Jan', 5240, 0.81, 161.728395061728, 0.0, 5240], ['A', 'Feb', 4878, 0.76, 160.460526315789, 0.0, 4878], ['A', 'Mar', 5942, 0.75, 198.066666666667, 0.0, 5942], ['A', 'Apr', 2297, 0.8, 71.78125, 0.0, 2297], ['A', 'May', 1992, 0.78, 63.8461538461538, 0.0, 1992], ['A', 'Jun', 2275, 0.73, 77.9109589041096, 0.0, 2275], ['A', 'Jul', 5334, 0.68, 137.279411764706, 1600.0, 5334], ['A', 'Aug', 3371, 0.76, 110.888157894737, 0.0, 3371], ['A', 'Sep', 3759, 0.81, 116.018518518519, 0.0, 3759], ['A', 'Oct', 3529, 0.73, 120.856164383562, 0.0, 3529], ['A', 'Nov', 4284, 0.68, 110.257352941176, 1285.0, 4284], ['A', 'Dec', 5183, 0.65, 139.576923076923, 1554.0, 5183], ['B', 'Jan', 4927, 0.81, 152.067901234568, 0.0, 4927], ['B', 'Feb', 2628, 0.76, 51.875, 1051.0, 2628], ['B', 'Mar', 2974, 0.75, 59.5, 1189.0, 2974], ['B', 'Apr', 2338, 0.8, 73.0625, 0.0, 2338], ['B', 'May', 4020, 0.78, 128.846153846154, 0.0, 4020], ['B', 'Jun', 3147, 0.73, 64.6917808219178, 1258.0, 3147], ['B', 'Jul', 4271, 0.68, 94.2279411764706, 1708.0, 4271], ['B', 'Aug', 2620, 0.76, 51.7105263157895, 1048.0, 2620], ['B', 'Sep', 4517, 0.81, 139.413580246914, 0.0, 4517], ['B', 'Oct', 4155, 0.73, 85.3767123287671, 1662.0, 4155], ['B', 'Nov', 3137, 0.68, 69.2279411764706, 1254.0, 3137], ['B', 'Dec', 4227, 0.65, 97.5769230769231, 1690.0, 4227], ['C', 'Jan', 1162, 0.81, 35.8641975308642, 0.0, 1162], ['C', 'Feb', 1967, 0.76, 64.7039473684211, 0.0, 1967], ['C', 'Mar', 1898, 0.75, 63.2666666666667, 0.0, 1898], ['C', 'Apr', 2261, 0.8, 70.65625, 0.0, 2261], ['C', 'May', 2030, 0.78, 65.0641025641026, 0.0, 2030], ['C', 'Jun', 1642, 0.73, 56.2328767123288, 0.0, 1642], ['C', 'Jul', 2489, 0.68, 0.0, 2489.0, 2489], ['C', 'Aug', 2496, 0.76, 82.1052631578947, 0.0, 2496], ['C', 'Sep', 922, 0.81, 28.4567901234568, 0.0, 922], ['C', 'Oct', 2421, 0.73, 82.9109589041096, 0.0, 2421], ['C', 'Nov', 963, 0.68, 0.0, 963.0, 963], ['C', 'Dec', 1998, 0.65, 0.0, 1998.0, 1998]]

In [568]:
# Creating dataframe for the results
df_result=pd.DataFrame(output,columns=['State','Month','Demand','StaffAvPer','FTE','Apps_Outsorced','FTE_APP_Served'])
df_result

   State Month  Demand  StaffAvPer         FTE  Apps_Outsorced  FTE_APP_Served
0      A   Jan    5240        0.81  161.728395             0.0            5240
1      A   Feb    4878        0.76  160.460526             0.0            4878
2      A   Mar    5942        0.75  198.066667             0.0            5942
3      A   Apr    2297        0.80   71.781250             0.0            2297
4      A   May    1992        0.78   63.846154             0.0            1992
5      A   Jun    2275        0.73   77.910959             0.0            2275
6      A   Jul    5334        0.68  137.279412          1600.0            5334
7      A   Aug    3371        0.76  110.888158             0.0            3371
8      A   Sep    3759        0.81  116.018519             0.0            3759
9      A   Oct    3529        0.73  120.856164             0.0            3529
10     A   Nov    4284        0.68  110.257353          1285.0            4284
11     A   Dec    5183        0.65  139.576923          1554.0            5183
12     B   Jan    4927        0.81  152.067901             0.0            4927
13     B   Feb    2628        0.76   51.875000          1051.0            2628
14     B   Mar    2974        0.75   59.500000          1189.0            2974
15     B   Apr    2338        0.80   73.062500             0.0            2338
16     B   May    4020        0.78  128.846154             0.0            4020
17     B   Jun    3147        0.73   64.691781          1258.0            3147
18     B   Jul    4271        0.68   94.227941          1708.0            4271
19     B   Aug    2620        0.76   51.710526          1048.0            2620
20     B   Sep    4517        0.81  139.413580             0.0            4517
21     B   Oct    4155        0.73   85.376712          1662.0            4155
22     B   Nov    3137        0.68   69.227941          1254.0            3137
23     B   Dec    4227        0.65   97.576923          1690.0            4227
24     C   Jan    1162        0.81   35.864198             0.0            1162
25     C   Feb    1967        0.76   64.703947             0.0            1967
26     C   Mar    1898        0.75   63.266667             0.0            1898
27     C   Apr    2261        0.80   70.656250             0.0            2261
28     C   May    2030        0.78   65.064103             0.0            2030
29     C   Jun    1642        0.73   56.232877             0.0            1642
30     C   Jul    2489        0.68    0.000000          2489.0            2489
31     C   Aug    2496        0.76   82.105263             0.0            2496
32     C   Sep     922        0.81   28.456790             0.0             922
33     C   Oct    2421        0.73   82.910959             0.0            2421
34     C   Nov     963        0.68    0.000000           963.0             963
35     C   Dec    1998        0.65    0.000000          1998.0            1998

In [569]:
# Writing the results in to an Excel sheet

df_result.to_excel('Result_2.xlsx',sheet_name='Result',index=False)

# Question 3

#### Worst-case and best-case analysis based on the staffs' availability.

Assuming that the distribution is the same across all the states,

#### 3.1 Worst case analysis 

- 3.1.1 What is the optimal number of staff members for the worst case? 

- 3.1.2 What is the percentage of outsourcing for the worst case? 

- 3.1.3 What is the average cost per application for the worst case?


#### 3.2 Best case analysis 

- 3.2.1 What is the optimal number of staff members for the best case? 

- 3.2.2 What is the percentage of outsourcing for the best case? 

- 3.2.3 What is the average cost per application for the best case?

#### Expected output:

For each of the subtasks (3.1 and 3.2) create a data frame containing the number of outsourced applications and the number of FTEs for each state-month combination. You can choose to have extra columns like staff availability, demand etc. in your dataframe apart from the ones mentioned earlier. Also, print the overall average percentage of outsourced applications and the overall average cost per application.

### 3.1 Worst Case Analysis

#### 3.1.1 Optimal number of staff members

In [570]:
# Creating a model instance
model=ConcreteModel()

In [571]:
# Creating the Indexes

#For Unique States
BankLoc=Cost['State'].unique()
#For Unique Months
Month=Cost['Month'].unique()

In [572]:
# Define Pyomo sets and Parameters

#Defining Set for State and Months
model.i=Set(initialize=BankLoc.tolist(),doc="State")
model.j=Set(initialize=Month.tolist(),doc="Months")

#Defining parameter for Demand
Demand=MgDemandDist.set_index(['State','Month'])['Demand'].to_dict()

#Defining prameter for FTE Salary
FTE_Salary=Cost.set_index(['State','Month'])['MonthlySalary'].to_dict()

#Defining parameter for Unit outsource cost
UnitOutSourceCost=Cost.set_index(['State','Month'])['UnitOutSourceCost'].to_dict()

# Number of Application served with  100% availability
FTE_AppServeRate=transCost.iloc[0,0]

#Defining parameter for Minimum Staff availability
StaffAv_LB=StaffAv.set_index(['State','Month'])['LB'].to_dict()

#Defining parameter for Maximum Staff availability
StaffAv_UB=StaffAv.set_index(['State','Month'])['UB'].to_dict()

#Defining parameter for Average Staff availability
StaffAvPer=StaffAv.set_index(['State','Month'])['StaffAvPer'].to_dict()

model.d=Param(model.i,model.j,initialize=Demand,doc='Demand')
model.s=Param(model.i,model.j,initialize=FTE_Salary,doc='FTE_Salary')
model.oc=Param(model.i,model.j,initialize=UnitOutSourceCost,doc='UnitOutSourceCost')
model.lb=Param(model.i,model.j,initialize=StaffAv_LB,doc='StaffAv_LB')

#Scalar Application Service rate when 100% working
model.r=Param(initialize=FTE_AppServeRate,doc='FTE_AppServeRate')


#Paramter for no of application that can be processed for given staff availability
def c_FTEAPP(model,i,j):
  return model.r* model.lb[i,j]

model.FTEAPPNO=Param(model.i,model.j,initialize=c_FTEAPP,doc='No of FTE APP')

# Prameter for Regulatory restriction for STate A
def Reg_A(model,i,j):
  return 0.30*model.d[i,j]

model.Reg_A=Param(model.i,model.j,initialize=Reg_A,doc='RegRest_A')

# Prameter for Regulatory restriction for STate B
def Reg_B(model,i,j):
  return 0.40*model.d[i,j]

model.Reg_B=Param(model.i,model.j,initialize=Reg_B,doc='RegRest_B')

In [573]:
# Decision variables

model.x= Var(model.i,model.j,domain=NonNegativeReals,doc='No of FTE')
model.y= Var(model.i,model.j,domain=NonNegativeReals,doc='No of Outsorced Apps')

In [574]:
# Constraints

# Demand Constraint
model.demand_constraint=ConstraintList()
for i in model.i:
  for j in model.j:
    model.demand_constraint.add(expr=model.x[i,j]*model.FTEAPPNO[i,j] + model.y[i,j]==model.d[i,j])

#Regulatory constraint
model.regulatory_constraint=ConstraintList()
for i in model.i:
  for j in model.j:
    if i =='A':
      model.regulatory_constraint.add(expr= model.y['A',j] <=model.Reg_A['A',j])
    elif i=='B':
      model.regulatory_constraint.add(expr= model.y['B',j] <=model.Reg_B['B',j])

In [575]:
# Objective function

#Mininmize cost
def objective_rule(model):
  return sum(model.x[i,j]*model.s[i,j] for i in model.i for j in model.j) + sum(model.y[i,j]*model.oc[i,j] for i in  model.i for j in model.j)

model.objective=Objective(rule=objective_rule, sense=minimize,doc='Define Objective Function')

In [576]:
# Invoking the solver

result_cost=SolverFactory('glpk').solve(model)
result_cost.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 19599283.3977411
  Upper bound: 19599283.3977411
  Number of objectives: 1
  Number of constraints: 61
  Number of variables: 73
  Number of nonzeros: 97
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.019633769989013672
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [577]:
# Print the value of the objective function
TotalCost_LB=model.objective.expr()
TotalCost_LB

19599283.397741143

**`Checkpoint 2:`** The company has to spend around 19.6 m$ in total for the application approval process if the staffs are working with the minimum availability.

In [578]:
#Calculating the Result in Column format
output=[]

for i in model.i:
  for j in model.j:
    No_Of_FTE=model.x[i,j].value
    No_of_OutsorcedApps=model.y[i,j].value
    Demand=model.d[i,j]
    LB=model.lb[i,j]
    output.append([i,j,Demand,LB,No_Of_FTE,No_of_OutsorcedApps,Demand])

In [579]:
# Creating dataframe for the results
df_result=pd.DataFrame(output,columns=['State','Month','Demand','LB','FTE','Apps_Outsorced','FTE_APP_Served'])
df_result

   State Month  Demand    LB         FTE  Apps_Outsorced  FTE_APP_Served
0      A   Jan    5240  0.70  187.142857             0.0            5240
1      A   Feb    4878  0.65  131.330769          1463.4            4878
2      A   Mar    5942  0.70  212.214286             0.0            5942
3      A   Apr    2297  0.75   76.566667             0.0            2297
4      A   May    1992  0.70   71.142857             0.0            1992
5      A   Jun    2275  0.65   61.250000           682.5            2275
6      A   Jul    5334  0.60  155.575000          1600.2            5334
7      A   Aug    3371  0.65   90.757692          1011.3            3371
8      A   Sep    3759  0.70  134.250000             0.0            3759
9      A   Oct    3529  0.65   95.011538          1058.7            3529
10     A   Nov    4284  0.60  124.950000          1285.2            4284
11     A   Dec    5183  0.60  151.170833          1554.9            5183
12     B   Jan    4927  0.70  105.578571          1970.8            4927
13     B   Feb    2628  0.65   60.646154          1051.2            2628
14     B   Mar    2974  0.70   63.728571          1189.6            2974
15     B   Apr    2338  0.75   46.760000           935.2            2338
16     B   May    4020  0.70   86.142857          1608.0            4020
17     B   Jun    3147  0.65   72.623077          1258.8            3147
18     B   Jul    4271  0.60  106.775000          1708.4            4271
19     B   Aug    2620  0.65   60.461538          1048.0            2620
20     B   Sep    4517  0.70   96.792857          1806.8            4517
21     B   Oct    4155  0.65   95.884615          1662.0            4155
22     B   Nov    3137  0.60   78.425000          1254.8            3137
23     B   Dec    4227  0.60  105.675000          1690.8            4227
24     C   Jan    1162  0.70   41.500000             0.0            1162
25     C   Feb    1967  0.65    0.000000          1967.0            1967
26     C   Mar    1898  0.70   67.785714             0.0            1898
27     C   Apr    2261  0.75   75.366667             0.0            2261
28     C   May    2030  0.70   72.500000             0.0            2030
29     C   Jun    1642  0.65    0.000000          1642.0            1642
30     C   Jul    2489  0.60    0.000000          2489.0            2489
31     C   Aug    2496  0.65    0.000000          2496.0            2496
32     C   Sep     922  0.70   32.928571             0.0             922
33     C   Oct    2421  0.65    0.000000          2421.0            2421
34     C   Nov     963  0.60    0.000000           963.0             963
35     C   Dec    1998  0.60    0.000000          1998.0            1998

In [580]:
# Writing the results in to an Excel sheet

df_result.to_excel('Result_3.xlsx',sheet_name='Result',index=False)

#### 3.1.2 Percentage of outsourced applications

In [581]:
#Total no of Outsorced applicants actual
noOutSource=0
for i in model.i:
  for j in model.j:
    noOutSource=noOutSource+model.y[i,j].value
print(noOutSource)

39816.600000000006

In [582]:
#Total no of applications Demand
TotalApplDemand=MgDemandDist['Demand'].sum()

#Percentage of Outsorced applictns
PercentageOutSourced=(s/TotalApplDemand)*100
print(PercentageOutSourced)

18.314297314950483

#### 3.1.3 Average cost per application

In [583]:
# write your code here

print('Averge cost per Application in Case of Minimum(LB) Staff availability is :',TotalCost_LB/TotalApplDemand)

Averge cost per Application in Case of Minimum(LB) Staff availability is : 172.9948929134918

### 3.2  Best Case Analysis

#### 3.2.1 Optimal number of staff members

In [584]:
# Creating a model instance

model=ConcreteModel()

In [585]:
# Creating the Indexes
#For Unique ank locations
BankLoc=Cost['State'].unique()
#For Unique Months
Month=Cost['Month'].unique()

In [586]:
# Define Pyomo sets and Parameters

#Defining Set for State and Months
model.i=Set(initialize=BankLoc.tolist(),doc="State")
model.j=Set(initialize=Month.tolist(),doc="Months")

MgDemandDist=pd.read_excel("Staffing+Data.xlsx", sheet_name='DemandData')
StaffAv=pd.read_excel("Staffing+Data.xlsx",sheet_name='StaffAvailability')
Cost=pd.read_excel("Staffing+Data.xlsx",sheet_name='Cost')
transCost=pd.read_excel("Staffing+Data.xlsx",sheet_name='ServiceRate')


#Defining parameter for Demand
Demand=MgDemandDist.set_index(['State','Month'])['Demand'].to_dict()

#Defining prameter for FTE Salary
FTE_Salary=Cost.set_index(['State','Month'])['MonthlySalary'].to_dict()

#Defining parameter for Unit outsource cost
UnitOutSourceCost=Cost.set_index(['State','Month'])['UnitOutSourceCost'].to_dict()

# Number of Application served with  100% availability
FTE_AppServeRate=transCost.iloc[0,0]

#Defining parameter for Minimum Staff availability
StaffAv_LB=StaffAv.set_index(['State','Month'])['LB'].to_dict()

#Defining parameter for Maximum Staff availability
StaffAv_UB=StaffAv.set_index(['State','Month'])['UB'].to_dict()

#Defining parameter for Average Staff availability
StaffAvPer=StaffAv.set_index(['State','Month'])['StaffAvPer'].to_dict()

model.d=Param(model.i,model.j,initialize=Demand,doc='Demand')
model.s=Param(model.i,model.j,initialize=FTE_Salary,doc='FTE_Salary')
model.oc=Param(model.i,model.j,initialize=UnitOutSourceCost,doc='UnitOutSourceCost')
model.ub=Param(model.i,model.j,initialize=StaffAv_UB,doc='StaffAv_UB')

#Scalar Application Service rate when 100% working
model.r=Param(initialize=FTE_AppServeRate,doc='FTE_AppServeRate')

#Paramter for no of application that can be processed for given staff availability
def c_FTEAPP(model,i,j):
  return model.r* model.ub[i,j]

model.FTEAPPNO=Param(model.i,model.j,initialize=c_FTEAPP,doc='No of FTE APP')

# Prameter for Regulatory restriction for STate A
def Reg_A(model,i,j):
  return 0.30*model.d[i,j]

model.Reg_A=Param(model.i,model.j,initialize=Reg_A,doc='RegRest_A')

# Prameter for Regulatory restriction for STate B
def Reg_B(model,i,j):
  return 0.40*model.d[i,j]

model.Reg_B=Param(model.i,model.j,initialize=Reg_B,doc='RegRest_B')

In [587]:
# Decision variables
model.x= Var(model.i,model.j,domain=NonNegativeReals,doc='No of FTE')
model.y= Var(model.i,model.j,domain=NonNegativeReals,doc='No of Outsorced Apps')

In [588]:
# Constraints

# Demand Constraint
model.demand_constraint=ConstraintList()
for i in model.i:
  for j in model.j:
    model.demand_constraint.add(expr=model.x[i,j]*model.FTEAPPNO[i,j] + model.y[i,j]==model.d[i,j])



#Regulatory constraint
model.regulatory_constraint=ConstraintList()
for i in model.i:
  for j in model.j:
    if i =='A':
      model.regulatory_constraint.add(expr= model.y['A',j] <=model.Reg_A['A',j])
    elif i=='B':
      model.regulatory_constraint.add(expr= model.y['B',j] <=model.Reg_B['B',j])

In [589]:
# Objective function
# To Mininmize cost
def objective_rule(model):
  return sum(model.x[i,j]*model.s[i,j] for i in model.i for j in model.j) + sum(model.y[i,j]*model.oc[i,j] for i in  model.i for j in model.j)

model.objective=Objective(rule=objective_rule, sense=minimize,doc='Define Objective Function')

In [590]:
# Invoking the solver
result_cost=SolverFactory('glpk').solve(model)
result_cost.write()

# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: unknown
  Lower bound: 16527521.3522214
  Upper bound: 16527521.3522214
  Number of objectives: 1
  Number of constraints: 61
  Number of variables: 73
  Number of nonzeros: 97
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: ok
  Termination condition: optimal
  Statistics:
    Branch and bound:
      Number of bounded subproblems: 0
      Number of created subproblems: 0
  Error rc: 0
  Time: 0.012503385543823242
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0

In [591]:
# Print the value of the objective function
TotalCost_UB=model.objective.expr()
TotalCost_UB

16527521.352221444

**`Checkpoint 3:`** The company has to spend around 16.5 m$ in total for the application approval process if the staffs are working with the maximum availability.

In [592]:
#Calculating the Result in Column format
output=[]

for i in model.i:
  for j in model.j:
    No_Of_FTE=model.x[i,j].value
    No_of_OutsorcedApps=model.y[i,j].value
    Demand=model.d[i,j]
    UB=model.ub[i,j]
    output.append([i,j,Demand,UB,No_Of_FTE,No_of_OutsorcedApps,Demand])

In [593]:
# Creating dataframe for the results
df_result=pd.DataFrame(output,columns=['State','Month','Demand','UB','FTE','Apps_Outsorced','FTE_APP_Served'])
df_result

   State Month  Demand    UB         FTE  Apps_Outsorced  FTE_APP_Served
0      A   Jan    5240  0.90  145.555556             0.0            5240
1      A   Feb    4878  0.85  143.470588             0.0            4878
2      A   Mar    5942  0.80  185.687500             0.0            5942
3      A   Apr    2297  0.85   67.558824             0.0            2297
4      A   May    1992  0.85   58.588235             0.0            1992
5      A   Jun    2275  0.80   71.093750             0.0            2275
6      A   Jul    5334  0.75  177.800000             0.0            5334
7      A   Aug    3371  0.85   99.147059             0.0            3371
8      A   Sep    3759  0.90  104.416667             0.0            3759
9      A   Oct    3529  0.80  110.281250             0.0            3529
10     A   Nov    4284  0.75  142.800000             0.0            4284
11     A   Dec    5183  0.70  185.107143             0.0            5183
12     B   Jan    4927  0.90  136.861111             0.0            4927
13     B   Feb    2628  0.85   77.294118             0.0            2628
14     B   Mar    2974  0.80   92.937500             0.0            2974
15     B   Apr    2338  0.85   68.764706             0.0            2338
16     B   May    4020  0.85  118.235294             0.0            4020
17     B   Jun    3147  0.80   98.343750             0.0            3147
18     B   Jul    4271  0.75   85.420000          1708.4            4271
19     B   Aug    2620  0.85   77.058824             0.0            2620
20     B   Sep    4517  0.90  125.472222             0.0            4517
21     B   Oct    4155  0.80  129.843750             0.0            4155
22     B   Nov    3137  0.75   62.740000          1254.8            3137
23     B   Dec    4227  0.70   90.578571          1690.8            4227
24     C   Jan    1162  0.90   32.277778             0.0            1162
25     C   Feb    1967  0.85   57.852941             0.0            1967
26     C   Mar    1898  0.80   59.312500             0.0            1898
27     C   Apr    2261  0.85   66.500000             0.0            2261
28     C   May    2030  0.85   59.705882             0.0            2030
29     C   Jun    1642  0.80   51.312500             0.0            1642
30     C   Jul    2489  0.75   82.966667             0.0            2489
31     C   Aug    2496  0.85   73.411765             0.0            2496
32     C   Sep     922  0.90   25.611111             0.0             922
33     C   Oct    2421  0.80   75.656250             0.0            2421
34     C   Nov     963  0.75   32.100000             0.0             963
35     C   Dec    1998  0.70   71.357143             0.0            1998

In [594]:
# Writing the results in to an Excel sheet

df_result.to_excel('Result_4.xlsx',sheet_name='Result',index=False)

#### 3.2.2 Percentage of outsourced applications

In [595]:
#Total Outsorced applications- Actual
s=0
for i in model.i:
  for j in model.j:
    s=s+model.y[i,j].value
print(s)

4654.0

In [596]:
#Total no of applications demand
TotalApplDemand=MgDemandDist['Demand'].sum()

#Percentage of Outsorced applications
PercentageOutSourced=(s/TotalApplDemand)*100
print(PercentageOutSourced)

4.1078962698819

#### 3.2.3 Average cost per application

In [597]:
print('Averge cost per Application in Case of Maximum(UB) Staff availability is :',TotalCost_UB/TotalApplDemand)

Averge cost per Application in Case of Maximum(UB) Staff availability is : 145.88170028617088

# Question 4

#### Creating Visualisations

Create the following visualisations using your preferred method (i.e. Python, PowerPoint, Power BI, etc.) and add it to your report. 

Use the solution of Q2 to create a stacked column chart that shows the percentage of applications processed by the staff and by the vendor for each month (%staff processed applications+ %vendor processed applications should add up to 100%). 
Create a graph to show how the cost per application increases with respect to any change in the parameters in your analysis.
Hint: Use the cost per application that you calculate in Questions 2 and 3 (i.e., the best case, and the worst case).

**Note:** You can create the charts in Python or some other visualisation tools and make it a part of your final report directly.

In [598]:
#Answered with Visualization have been mentioned in Report